
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin:10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  background-color: beige;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgb(204, 204, 183);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {background-color: #f1f1f1}
